/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #F9F7E8;
    font-family: "Lato", serif;
    font-size: 16px;
    margin: 0;
    padding: 20px;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 140px;
    padding: 10px 20px;
    color: white;
}

/* Logo styling */
header img {
    height: 150px; /* Adjust as needed */
}

.search-bar{
    flex: 1; 
    text-align: center;
}

/* Search form styling */
form {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="text"] {
    width: 500px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #7C7B74;
    background-color: #DCDBCD;
    font-family: "Lato", serif;
    font-size: 16px;
}

button {
    padding: 10px 12px;
    border: none;
    background-color: #FFCE2F; /* Orange color */
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Lato", serif;
    font-size: 16px;
}

button:hover {
    background-color: #D4AC26;
}

h2 {
   font-size: 25px;
   font-weight: bold;
   margin-bottom: 15px;
}

#trending-text, #popular-text {
    justify-items: left;
    margin-top: 30px;
    margin-left: 140px;
    margin-right: 140px;
}

/* Navigation menu styling */
nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}


/* Results Layout (Grid-based) */
#results-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 30px;
    margin: 0 140px;
}

/* Individual Result Cards */
#results-list li, .trend-card {
    overflow: hidden;
    width: 200px;
    background-color: black;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease-in-out;
    padding: 10px 5px;
}

#results-list li a {
    font-family: "Lato", serif;
    font-size: 16px;
    color: #FFCE2F;
    font-weight: bold;
}

#results-list li:hover, .trend-card:hover {
    transform: scale(1.05);
}

/* Images (Movies, TV Shows, Celebrities) */
#results-list img, .trend-card img {
    width: 100%;
    border-bottom: 10px;
    height: 300px;
    object-fit: cover;
    border-bottom: #FFCE2F 1px solid;
}

/* Title Links */
#description {
    margin: 5px 0;
    line-height: 14px;
}

#results-list a {
    font-family: "Lato", serif;
    display: block;
    color: grey;
    margin: 10px 5px;
    font-size: 16px;
    text-decoration: none;
}


#results-list small {
    display: block;
    font-size: 14px 5px;
    color: grey;
    line-height: 1;
}

#search-result {
    font-family: "Lato", serif;
    font-size: 25px;
    padding-bottom: 30px;

}

/* Responsive Design */
@media (max-width: 600px) {
    #results-list {
        flex-direction: column;
        align-items: center;
    }
}

/*Detail Page - Movie & TV Show*/

#details-container {
    display: flex;
    margin: 50px 140px;
    justify-content: space-between;
}

#left-block {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#left-block #poster {
    border-radius: 10px;
}

#right-block {
    width: 70%;
}

#title {
    font-size: 30px;
    color: black;
    margin-bottom: 30px;
}

#review {
    font-weight: bold;
    margin: 20px 0;
}

#overview {
    font-size: 16px;
    font-weight: 200;
    text-align: left;
}


#cast-title, #filmography-title{
    font-size: 25px;
    color: black;
    margin: 25px 0; 
}

.filmography-item, .cast-item {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    text-decoration: none;
    flex-direction: column;
    margin-bottom: 15px;
}

#cast-list {
    justify-content: space-between;
}

.cast-photo, .filmography-poster {
    border-radius: 10px;
    width: 100px;  
    height: 150px; 
    object-fit: cover; 
    background-color: #f0f0f0; 
}

#cast-list, #filmography {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 20px; 
}


.cast-name, .filmography-title {
    text-decoration:none;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.cast-character, .filmography-info {
    color: grey;
    font-size: 16px;
    font-weight:400;
}


/*Trending*/
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.title-rating  {
    font-family: "Lato", serif;
    font-size: 16px;
    margin: 20px 0;
    color: #FFCE2F;
    font-weight: bold;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%; /* Three slides */
}

.carousel-slide {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin: 30px 140px ;
}


.trailer-btn {
    display: flex;
    flex-direction: row;
    color: #FFCE2F;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.trailer-btn img {
    height: 10px;
    width: auto;
    border: none;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    z-index: 10;
}

.prev-btn { left: 0; }
.next-btn { right: 0; }


